Flask==3.0.0
google-generativeai
pypdf
python-dotenv                                                                                                                                                                                                                                                     
pillow                                                                                                                                                                                                                                              
google-generativeai
